@page "/"

<PageTitle>Index</PageTitle>

<h1>Roulette</h1>

Welcome to the roulette game.

Follow the instructions:

<ul>
    <li>Choose your game </li>
    <li>Made a bet </li>
    <li>I wish to you the best</li>
</ul>



<SurveyPrompt Title="How is Blazor working for you?" />
